body {
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#left-bar {
  padding-top: 50px;
  background-color: rgba(65, 65, 65, 0.411);
  height: 100vh;
}

#citycard {
  background-color: rgba(65, 65, 65, 0.411);
  border-radius: 0;
}

#details {
  background: rgb(0, 0, 0);
  background: linear-gradient(15deg, rgba(196, 196, 196, 0.946) 0%, rgba(0, 150, 193, 0.8066088654274164) 100%);
  padding: 2rem;
  border-radius: 18%;
  height: 300px;
  width: 300px;
  font-size: 55px;
  box-shadow: 23px 0px 4px -7px rgba(0, 0, 0, 0.1);
  border-color: black;
}

#maincontent {
  overflow-y: scroll;
  height: 100vh;
}

#buttonOfMain {
  width: 30%;
  background-color: rgba(131, 131, 131, 0.502);
  border-color: white;
}

#buttonOfMain:hover {
  background-color: grey;
}

#listForecast {
  box-shadow: 23px 0px 4px -7px rgba(0, 0, 0, 0.1);
}

#listForecast:hover {
  transform: scale(1.03);
  transition: 0.5s;
}
